@import '../../styles/mixins';

.coordinateur-nouvelle-visite {
  &-header {
    margin-bottom: 1.5rem;
    font-weight: var(--font-medium);
  }

  .classic-part {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: var(--box-shadow);
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: var(--mb-1);
    width: fit-content;
  }

  .infirmiere-part {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: var(--first-color);
    background-color: #fafafa;

    &-title {
      padding-bottom: 12px;
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &-one {
      font-size: 13px;
      margin-top: 10px;
      height: 30px;
      line-height: 30px;
      background-color: white;
    }

    .aucune-tip {
      width: 100%;
      text-align: center;
      font-weight: normal;
    }

    .ant-tag {
      margin-left: 14px;
      box-shadow: var(--box-shadow);
      border-radius: 6px;
    }

    .ant-tag:hover {
      color: var(--first-color);
    }
    .ant-tag-checkable:active {
      background-color: var(--second-color);
      color: var(--white-color);
    }
    .ant-tag-checkable-checked:hover {
      color: var(--white-color);
    }

    .ant-tag-checkable-checked {
      background-color: var(--first-color);
      color: var(--white-color);
      border-color: var(--first-color);
    }

    &-tip {
      padding-top: 12px;
      font-size: 12px;
      font-weight: lighter;
    }

    .square {
      display: inline-block;
      width: 12px;
      height: 12px;
      line-height: 12px;
      border-radius: 2px;
      margin-right: 4px;
      vertical-align: text-bottom;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 12px;
    }

    .square-fit-content {
      border-radius: 3px;
      padding: 1px 3px;
      margin-right: 2px;
      color: white;
      font-size: 12px;
    }

    .red {
      background-color: #B91646;
    }

    .green {
      background-color: #105652;
    }

    .yellow {
      background-color: #DFD8CA;
    }
  }

  .datepicker-part {
  }

  .success-part {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-confirm-btn {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
    margin: 40px auto;

    &:hover {
      cursor: pointer;
    }
  }

  button[ant-click-animating-without-extra-node]:after {
    border: 0 none;
    opacity: 0;
    animation: none 0 ease 0 1 normal;
  }

  .reset-btn {
    padding: 0;
    height: fit-content;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--second-color);
    box-shadow: none;

    &:hover span {
      text-decoration: underline;
    }
  }
}
