@import '../../styles/mixins';

.coordinateur-side-panel {
  height: 100%;
  width: fit-content;
  overflow: scroll;
  width: 260px;
  background-color: white;
  position: relative;
  
  &-logo {
    display: block;
    width: 64px;
    height: 64px;
    margin: 40px auto 30px;
    background-color: var(--first-color);
    border-radius: 32px;
  }

  .logout {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--first-color);
    text-transform: capitalize;
  }

  .logout:hover {
    text-decoration: underline;
  }
}
